{% extends "base.html" %}
{% block title %}{{ agent.name }} · Apex{% endblock %}
{% block body %}

<div class="h-full flex" x-data="{ sidebarOpen: localStorage.getItem('apex_sb') !== '0' }">

  {% include "partials/sidebar.html" %}

  <div id="qadzone-root" class="flex-1 flex flex-col overflow-hidden min-w-0" style="background:rgba(8,16,36,0.98)"></div>
</div>

{% include "partials/apex_widget.html" %}

<script>
  window.__QADZONE_WS_PATH__ = "{{ agent.route_prefix }}/ws";
</script>
<script type="module" src="/static/js/dist/qadzone.bundle.js"></script>
{% endblock %}
